<table class="table table-striped">
  <thead class="bg-info text-white">
    <tr>
      <th>言語</th>
      <th>説明</th>
    </tr>
  </thead>
  <tbody id="language-tbody">
    <tr>
      <td>HTML/CSS</td>
      <td>Webサイトの画面を作るための言語</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Webサイトの裏側の処理をする言語</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>人工知能を開発するための言語</td>
    </tr>
  </tbody>
</table>